---
-
  :username: testclient1
  :password: test1
  :company_alias: tester1
  :company_username: testuser1
  :company_password: fakeness1
  :cache_location: ./EFT
-
  :username: testclient2
  :password: test2
  :company_alias: tester2
  :company_username: testuser2
  :company_password: fakeness2
  :cache_location: ./EFT
